
.builder-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 1em;
    width: 40%;
}

.builder-item {
    justify-self: start;
}

.prediction-all {
    padding: 30px;
    width: 800px;
}

.prediction-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 1em;
    width: 200px;
}

.prediction-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 1em;
    width: 200px;
}

.prediction-truth {
    justify-self: center;
    text-align: center;
    width: 100px;
    margin-top: 15px;
}

.prediction-progress {
    width: 50px;
}

.prediction-img-wrong {
    height: 75px;
    border: 2px solid red;

}

.prediction-img-right {
    height: 75px;
    border: 2px solid green;
}

.prediction-label {
    width: 60px;
}

body {
    padding: 15px;
    font-family: Roboto;
}
